body {
  background-image: url("img/virusBg.png");
  background-size: cover;
  cursor: none;
}
.banner img {
  border: 4px solid white;
}

.corona-text {
  background: rgba(255,255,255,0.3);
}

.virusCount {
  position: fixed;
  top: 0;
  padding: 15px;
  background: rgba(255,255,255,.9);
  border: 2px solid black;
}